.modtek/
*log.txt
log.txt
[Ll]og*.txt
slnx.sqlite
/.vs/slnx.sqlite-journal
/CommunityAssets
/PanicSystem/PanicSystem.json
/PanicSystem/PanicSystemStorage.json
/.vs/XLRP-Complete/v16/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/ScorchedEarth/Saves
/CustomProfiler
/FakeCAB/
/.idea
*.log
*.1
*.2
*.3
*.4
*.5
/.vs/Mods/v16/TestStore/0/000-0000.testlog
/.vs/Mods/v16/TestStore/0/testlog.manifest
/.vs/Mods/v16/.suo
/vfProcGenStores/res/~$test-xlrp-store-content.xlsx
/vfProcGenStores/~$DataManagerItems.xlsx
/.vs/Battletech-Revised/v16/.suo
