.modtek/
*log.txt
log.txt
[Ll]og*.txt
.sqlite
.sqlite-journal
/CommunityAssets
/PanicSystem/PanicSystem.json
/PanicSystem/PanicSystemStorage.json
.suo
slnx.sqlite
VSWorkspaceState.json
/ScorchedEarth/Saves
/CustomProfiler
modstate.json
